.pagina {
    font-family: Arial;
    font-size: 10pt;
    color: black;
    width: 999px;
    border: 1px gray solid; 
    background-color: white;

}
.corpo {
    padding:8px;	
}
/* 
    Document   : geral
    Created on : 25/04/2012, 23:18:06
    Author     : mauricio
    Description:
        Purpose of the stylesheet follows.
*/

