<!-- BEGIN BLOCK_JS_GOOGLEANALYTICS -->
<script type="text/javascript" src="controle/google_analytics.js"></script>
<!-- END BLOCK_JS_GOOGLEANALYTICS -->

<!-- BEGIN BLOCK_JS_PAGINACAO -->
<script type="text/javascript" src="js/paginacao.js"></script>
<!-- END BLOCK_JS_PAGINACAO -->

<!-- BEGIN BLOCK_JS -->
<script type="text/javascript" src="{JS_PASTA}{JS_ARQUIVO}"></script>
<!-- END BLOCK_JS -->

<!-- BEGIN BLOCK_CSS -->
<link rel="stylesheet" type="text/css" href="{JS_PASTA}{JS_ARQUIVO}" />
<!-- END BLOCK_CSS -->