<style type="text/css">
    .div {
        background-color: transparent;
        height: 30px;
    } 
    .span {
        font-family: Arial;
        font-size: 10pt;    
        color: black;
        font-weight: bold; 
        position: relative;        
        top: 5px;
        left: 5px;
    }
    .centralizar {
       text-align:center;
       vertical-align:middle;
        
    }
</style>

<!-- BEGIN BLOCK_QUEBRA1 -->
<br>
<!-- END BLOCK_QUEBRA1 -->

<!-- BEGIN BLOCK_TITULO -->
<div 
    class="
        div 
        <!-- BEGIN BLOCK_CENTRALIZAR -->
        centralizar
        <!-- END BLOCK_CENTRALIZAR -->        
    "
>
    <span 
        class="span">
        {LISTA_TITULO}
    </span>
</div>
<!-- END BLOCK_TITULO -->  

<!-- BEGIN BLOCK_QUEBRA2 -->
<br>
<!-- END BLOCK_QUEBRA2 -->